
body.loading{
   background-color:rgba(0,0,0,.3);
   
}
.gammaGridTable{
     font-family:Arial;   
     width: 100%;
     border-collapse: collapse;
     padding: 5px;
     padding-top: 5px;
     margin-top:5px;
}
.gammaGridTable th a{
    color:#fff;       
}
.gammaGridTable th a:hover{
    color:#eee;
}
.gammaSelectAll{
    text-align: center !important;
}
.gammaPager{
}
.gammaPager a{
  color:#fff;   
  padding: 17px;
}
.gammaGridTable th, .gammaPager{
    background-color:#000;
    color:#fff;
  
    background: -webkit-gradient(
        linear,         
        left bottom,         
        left top,         
        color-stop(0.2, #2C2C2C),         
        color-stop(0.8, #0F0F0F)         );
    background:-moz-linear-gradient(
        center bottom,
        #2c2c2c 20%,
        #0f0f0f 80%
        );
    text-align: left;
    padding: 5px;
}
.gammaSelectAllRow th, .gammaGridTable tr td.currentSort{
   border-right: 1px dashed black;
   border-left: 1px dashed black;

   background-color: #7EF2F7;
   background-color: rgba(126, 242, 247, .4);   
   background: -webkit-gradient(         linear,                  left bottom,                  left top,                  color-stop(0.2, rgba(126, 242, 247, 0.4)),                  color-stop(0.8, rgba(255, 255, 255, .6)));
   background: -moz-linear-gradient(         center bottom,         #7EF2F7, 20%,         rgba(255, 255, 255, .4) 80%         );


}
.gammaGridTable tr th.currentSort{
   border-right: 1px dashed white;
   border-left: 1px dashed white;

}
.gammaGridTable td{
  padding:5px;   
}
input[type="checkbox"]:hover{
    cursor:pointer;
}
.gammaGridTable tr.odd{
 background-color:#eee; 
 color: #000;


    background:-webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.39, rgb(189,189,189)),
        color-stop(0.7, rgb(224,224,224))
        );
    background:-moz-linear-gradient(
        center bottom,
        rgb(189,189,189) 39%,
        rgb(224,224,224) 70%
        );
    text-shadow:1px 1px 1px #fff;    
}
.gammaGridTable tr.even{

}


.gammaSelectAllRow, .gammaGridTable tr.selected{
    background-color:#555;
    color:#f0f0f0;
    border-bottom:1px solid #444;
    background:-webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.39, rgb(85,85,85)),
        color-stop(0.7, rgb(105,105,105))
        );
    background:-moz-linear-gradient(
        center bottom,
        rgb(85,85,85) 39%,
        rgb(105,105,105) 70%
        );
    text-shadow:1px 1px 1px #000;
}
.gammaGrid{
	font-family: Arial;
}

.actionCollection{
    float:left;
}
.actionCollection input{
  color:#fff;
  border-radius:5px;
  background-color:#000;   
  margin:0px;
}
.actionCollection input:hover{
  background-color:#111; 
}
.globalText, .globalTrigger {
    margin-left:10px;
}
.gammaGridTable tbody.loading{
}
.gammaSearch{
    float:right;
}
.gammaSearch .gammaSearchField {
    padding-right: 20px;
}
.gammaSearch .clearText {
    cursor: pointer;
    position: relative;
    right: 15px;
}

div.loading{
    height: 900px;
    width:100%;
    margin:auto;
    vertical-align: middle;
    background: url(/public/images/loading.gif) no-repeat;
    position: absolute;
    float: left;
}